.App {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 40%;
}

@media(max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

